<div class="container">
  <mat-toolbar>
    <span>Customer Management Portal</span>
    <span class="toolbar-spacer"></span>
    <button class="m-1 btn btn-light btn-outline-primary" *ngIf="!isAuthenticated" (click)="oktaAuth.loginRedirect()"
      Button>Login
    </button>
    <button routerLink="/" class="m-1 btn btn-light btn-outline-primary" *ngIf="isAuthenticated" Button>Home</button>
    <button routerLink="customer" class="m-1 btn btn-light btn-outline-primary" *ngIf="isAuthenticated"
      Button>Customers</button>
    <button class="m-1 btn btn-light btn-outline-primary" *ngIf="isAuthenticated" (click)="oktaAuth.logout()"
      Button>Logout
    </button>
  </mat-toolbar>
  <br>
  <router-outlet></router-outlet>
</div>